<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>term & condition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <style>
            p{
                font-size: 12px;
            }
        </style>
</head>

<body>
    <h4 class="text-primary">Terms and Conditions</h4>
    <h5 class="text-success">Customer Return Policy & Warranty Disclaimer Statement</h5>
    <p>You may return products only with the Stock Market's prior written approval utilizing a Return Authorization
        Number obtained from the Customer Service Department. A 15% restocking charge will be made on all returns,
        except in cases of a manufacturing defect returnable pursuant to the manufacturer's warranty, or a shipping
        error on the part of the Stock Market. Special order items and Google products are not returnable. There is no
        right of set-off. The Customer Service Department may authorize credit memoranda for authorized returns subject
        to material being in salable condition upon return, or a deduction for putting the material in salable condition
        will be made. All claims, shortages and damages must be reported within five (5) days of receipt of merchandise.
        Claims for products damaged or lost in transit should be made by buyer to the carrier, as the Stock Market's
        responsibility ceases upon delivery to the carrier. All sales are otherwise made subject to the Stock Market's
        Conditions and Terms of Sale.</p>
    <p><b>Manufacturer's Warranties and Sales Literature.</b></p>
    <p>Most of the products are warranted by the product's manufacturer. A copy of the manufacturer's warranty is
        supplied with the product or may be obtained upon request. The Stock Market assumes no responsibility for the
        content or fulfillment of such warranties or the product manufacturers' sales brochures or other literature,
        including manufacturer's MSDS sheets. No consumer warranties, as defined in the Magnuson-Moss Warranty Act or
        the Federal Trade Commission Acts or regulations, shall arise from the sale of product.
    </p>
    <p>It is illegal to install products that are not "lead free" in accordance with US Federal or other applicable law
        in potable water systems anticipated for human consumption. Buyer is solely responsible for product selection.

        Some states may require that products be certified as "lead free". Refer to your local plumbing inspector or
        manufacturer for more details. Buyer is solely responsible for product selection.</p>
    <h4 class="text-success">Additonal Terms and Conditions Of Sale</h4>
    <p>1. ENTIRE AGREEMENT:
        • These Terms and Conditions of Sale establish the rights, obligations, and remedies of The Stock Market
        ("Seller") and Buyer, form the entire agreement between Seller and Buyer, and apply to all transactions between
        Seller and Buyer unless otherwise specifically agreed to in writing by both parties. All prior oral or written
        agreements, including but not limited to terms in Buyer's purchase order, which are different from or in
        addition to these Terms and Conditions of Sale are not binding on Seller unless accepted in writing by Seller's
        duly authorized representative.</p>
    <p>2. SHIPMENT:
        • All orders are shipped F.O.B. point of shipment. Risk of loss will transfer to Buyer upon tender of goods to
        Buyer, Buyer's representative or common carrier. The cost of any special packaging or handling caused by Buyer's
        requirements or requests will be added to the amount of Buyer's order. If Buyer causes or requests a delay of
        shipment, or if Seller ships or delivers an order erroneously as a result of inaccurate, incomplete, or
        misleading information supplied by Buyer or Buyer's agents or employees, all storage and other additional costs
        and risk will be borne by Buyer.</p>
    <p>3. PRICE:
        • All prices are subject to change unless otherwise noted on Seller's quotation. Buyer will be invoiced at
        prices in effect at the time of shipment. All taxes, transportation costs, duties and other charges are in
        addition to quoted prices. The amount of any sales, excise or other taxes, if any, applicable to the goods shall
        be added to the purchase price and shall be paid by Buyer unless Buyer provides Seller with a valid tax
        exemption certificate.</p>
    <p>4. DELIVERY:
        • Seller will make a good faith effort to deliver goods in accordance with Buyer's schedule. Seller will pay for
        expedited shipping of delayed goods if the delay in delivery is solely caused by Seller. Seller assumes no
        responsibility or liability for Seller's non-performance caused by an act of God, war, labor disputes, civil
        unrest, accidents, the inability to obtain materials, delays of carriers, contractors or suppliers or any other
        causes beyond Seller's control. Under no circumstances shall Seller be liable for any special, consequential,
        incidental, indirect, or liquidated damages, losses, or expenses of any kind arising from any shipping delays or
        failure to give notice of any shipping delay.</p>
    <p>6. PAYMENT:
        • Buyer shall pay for the goods net 30 days from date of Seller's invoice. In the event of a late payment,
        Seller is entitled to treat Buyer's entire account(s) as immediately due and payable without notice or demand.
        All past due amounts will be subject to a service charge accruing at a rate of up to 1.5% per month. Buyer shall
        not be allowed to retain or holdback payment and Buyer's payment obligations are not contingent on any event
        other than Seller's performance. Buyer's receipt of payment or funds from any third party shall in no way
        relieve Buyer's obligations to pay Seller. Buyer's credit application to Seller is hereby incorporated by
        reference. Buyer is not entitled to set-off any amounts due to Seller by any amount due by Seller to Buyer in
        connection with any transaction governed by these Terms and Conditions of Sale.</p>
    <p>7. INSPECTION AND ACCEPTANCE:
        • Buyer shall examine all goods upon receipt and prior to installation. All claims for damage, shortage, and
        errors in shipment or improper delivery must be made to Seller in writing within five (5) business days of
        delivery, after which date Buyer will be deemed to have accepted the goods and will have no right to reject the
        goods or to revoke acceptance. Buyer must make any claims for billing errors or adjustments to Seller in writing
        within ten (10) business days from the invoice date. Claims not received in writing within such period of time
        will be waived by Buyer.</p>
    <p>8. RETURNS:
        • Buyer may return any good which Seller stocks and which is not a special order item if: (i) it is in new
        condition, suitable for resale in its undamaged original packaging and with all original parts; and (ii) it has
        not been used, installed, modified, rebuilt, reconditioned, repaired, altered or damaged. All returns are
        subject to a re-stocking fee, unless otherwise agreed to by Seller. Special orders or non-stock goods may be
        returned if the manufacturer is willing to accept the return and Buyer agrees to reimburse Seller for any
        restocking or cancellation fees charged by the manufacturer.</p>
</body>

</html>